<nav class="navbar navbar-inverse dhl-custom-footer">
    <ul class="nav navbar-nav">
        <li>
            <a  href="javascript:void(0)">
                <img src="/assets/images/footer-dhl-logo.png" class="footer-logo"> 
            </a>
        </li>

        <li>
            <a  href="javascript:void(0)">
                Terms of use 
            </a>
        </li>

        <li>
            <a  href="javascript:void(0)">
                Privacy Notice
            </a>
        </li>

        <li>
            <a  href="javascript:void(0)">
                    Terms and Conditions of Carriage
            </a>
        </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a  href="javascript:void(0)">
                2018 (c) Deutsche Post AG - All right Reserved
            </a>
        </li>
    </ul>
</nav>